body {
    font-family: 'Charis SIL', serif;
    background-color: #ffffcc;
    color: #000066;
}
h1 {
    padding-top: 2em;
    text-align: center;
}
.main-page-text {
    text-align: center;
    font-size: 1.25em;
}
nav {
    background-color: #009900;
    height: 4em;
    position: fixed;
    top: 0;
    width: 100%;
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navigation li {
    list-style-type: none;
    margin-top: 1.2em;
}
.navigation li a {
    color: white;
    text-decoration: none;
    padding-right: 5em;
    font-size: 1.1em;
}
li a:hover {
    text-decoration: none;
    color: orange;
}
footer {
    position: fixed;
    bottom: 0;
    background-color: #009900;
    color: white;
    width: 100%;
    height: 3em;
    text-align: center;
    padding-top: .5em;
}
.health-tests{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.health-tests a {
    margin-right: 5em;
}
.tests-info {
    font-size: 1.1em;
}
.indent {
    text-indent: 2em;
}
